.dark-blue {
  color: #003e72;
}

.hidden {
  display: none;
}

#wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}



.register {
 /*background:
  -ms-transform: rotate(-15deg); /* IE 9 */
/* -webkit-transform: rotate(-15deg); /* Safari */
 /*transform: rotate(-15deg); /* Standard syntax */
    background-color: #003e72;
    color: #ffffff;
    width:100%;
    padding: 1em;
}

/* .tilted {
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  background-color: #003e72;
} */

.tilted h2 {
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  }

/*.register h2 {
  -ms-transform: rotate(15deg); /* IE 9 */
 /*-webkit-transform: rotate(15deg); /* Safari */
 /*transform: rotate(15deg); /* Standard syntax */
/*}*/


/* .hero {
  background-color: rgba(186, 216, 222, .5);
} */

.signup {
  /* background-color: rgba(186, 216, 222, .5); */
  color: #003e72;
}

.information {
  background-color: #3fa0f3;
  color: #ffffff;
  padding: 1em;
}

#partners {
  background-color: #3fa0f3;
  color: #ffffff;
  padding: 1em;
}

#subscriber {
  background-color: #003e72;
  color: #ffffff;
  padding: 1em;
}

/* .title-bar {
  background-color: rgba(186, 216, 222, 0.5) !important;
} */

.footerbar {
  background-color: #3fa0f3;
  color: #ffffff;
  padding: 1em;
}

/*Stories*/

.messageBubble {
  margin-top: 30px;
  margin-bottom: 30px;
}
.messageBubble p {
  color: #F8F8FF;
}
#storiesForm {
  padding: 50px;
  /* background-color: #ec202f; */
  background-color: #003e72;
  color: #F8F8FF;
  border-radius: 20px;
}
#storiesForm label {
  color: #fff;
  font-weight: 700;
}
#storiesForm h3 {
  color: #fff;
  text-align: center;
}
.message {
  /* background-color: #ec202f; */
  background-color: #003e72;
  border-radius: 20px;
  padding: 30px;
  margin-top: 20px;
  font-weight: 400;
}
#storiesHashtag {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}
.platform img {
  width: 22px;
  right: 20px;
}
.storiesRed {
  color: #F8F8FF;
  font-size: 1.2em;
  text-transform: uppercase;
}
.bubbleTail {
  margin-top: -20px;
}
#shareFormTitle {
  margin-top: 40px;
  font-size: 2em;
  text-align: center;
}
