.dark-blue {
  color: #003e72;

}

.hidden {
  display: none;
}

#wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}

.register {
  /*background:
  -ms-transform: rotate(-15deg); /* IE 9 */
/*  -webkit-transform: rotate(-15deg); /* Safari */
  /*  transform: rotate(-15deg); /* Standard syntax */
    background-color: #003e72;
    color: #ffffff;
}

/* .hero {
  background-color: rgba(186, 216, 222, .5);
} */

.signup {
  background-color: rgba(186, 216, 222, .5);
}

/* .title-bar {
  background-color: rgba(186, 216, 222, 0.5) !important;
} */
